<h1 class="text-center">About Us</h1>

<p class="text-center">Mary and Kristin have enjoyed arts & crafts all their lives but found that much of what was available didn't suit their tastes. They decided it was time to change that and created this site where a different style of needlepoint is available for all of you. We hope you enjoy these designs as much as we do.</p>