<div class="shopping-cart">
  <%= render "shopping_cart" %>
</div>

<a href="https://connect.stripe.com/oauth/authorize?response_type=code&client_id=ca_7fs0JK0eBSPF2Kt3uFi87n1cpS2rh8B0&scope=read_write"</a>