<div class="container">
	<h1 align="center">Products</h1>
	<% @products.each_slice(3) do |products| %>
		<div class="row">
			<% products.each do |product| %>
				<div class="col-sm-6 col-md-4">
					<div class="thumbnail">
						<%= image_tag product.image.url(:med) %>
						<div class="caption">
          		<%= render "product_row", product: product, order_item: @order_item %>
	        	</div>
        	</div>
      	</div>
			<% end %>
		</div>
	<% end %>
</div>

