<div class="container">
	<h1 align="center">Products</h1>
	<% @products.each_slice(3) do |products| %>
		<div class="row">
			<% @products.each do |product| %>
				<div class="col-md-4">
					
          <%= product.name %> <br/>
          <%= product.price %> <br/>
          <%= link_to 'Show', product_path(product) %><br/>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
